@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

.primaryBtn {
  outline: none;
  border: none;
  padding: 0.3rem 1.3rem;
  font-size: 1.3em;
  font-weight: bold;
  background: #f1ec40;
  border: 2px solid #f1ec40;
  cursor: pointer;
  transition: letter-spacing 0.3s ease-in-out;
}
.primaryBtn:hover {
  background-color: #111;
  color: #f1ec40;
  letter-spacing: 1.5px;
}
.primaryBtn a {
  text-decoration: none;
  cursor: pointer;
  color: #111;
}
.primaryBtn:hover a {
  color: #f1ec40;
  text-decoration: underline;
}

#navBar {
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 75vw;
  z-index: 100;
}

.container {
  width: 75vw;
  min-height: 100vh;
  margin: 0 auto;
}

.navigation {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.navigation h2 {
  font-weight: bold;
  font-size: 1.7em;
  color: #f1ec40;
}
.navigation .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.navigation .nav-links li {
  margin-left: 2rem;
  list-style: none;
  font-size: 1.2em;
}
.navigation .nav-links li a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
}
.navigation .nav-links li:hover a {
  color: #f1ec40;
}
.navigation .burger {
  display: none;
}
.navigation .burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

#home {
  overflow: hidden;
  position: relative;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.hero .imgBx {
  width: 32.5vw;
}
.hero .imgBx img {
  width: 100%;
}
.hero .content {
  width: 32.5vw;
}
.hero .content h1 {
  font-size: 3em;
  padding: 0;
  letter-spacing: 1px;
}
.hero .content h1 span {
  color: #f1ec40;
}
.hero .content h2 {
  font-size: 2em;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  letter-spacing: 1px;
}
.hero .content .secondaryBtn {
  outline: none;
  border: none;
  padding: 0.3rem 1.3rem;
  font-size: 1.3em;
  font-weight: bold;
  background: #111;
  border: 2px solid #f1ec40;
  transition: letter-spacing 0.3s ease-in-out;
  cursor: pointer;
  color: #f1ec40;
}
.hero .content .secondaryBtn:hover {
  letter-spacing: 1.5px;
}
.hero .content .secondaryBtn a {
  text-decoration: none;
  cursor: pointer;
  color: #f1ec40;
}
.hero .content .secondaryBtn:hover a {
  text-decoration: underline;
}

/*start about*/
.title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1rem;
  min-height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.title h1 {
  border-bottom: 5px solid #f1ec40;
}

.about {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-top: 150px;
}
.about .content .me {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.about .content .me h2 {
  border-bottom: 3px solid #f1ec40;
  margin-bottom: 1rem;
}
.about .content .me p {
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.about .content .me button {
  font-size: 1em;
}
.about .content h2 {
  border-bottom: 3px solid #f1ec40;
  margin: 1rem 0;
  display: inline;
}
.about .imgBx {
  width: 100%;
}
.about .imgBx img {
  width: 100%;
}

/*end about*/
/*start services*/
.services {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.services .card {
  margin-top: 50px;
  margin-right: 5px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #333;
  padding: 2rem;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.services .card .iconBx {
  width: 50%;
  transform: translateZ(50px);
}
.services .card .content {
  text-align: center;
}
.services .card .content h2 {
  font-size: 1.4em;
  margin-bottom: 1rem;
  transform: translateZ(50px);
}
.services .card .content p {
  font-weight: 400;
  color: #ccc;
  transform: translateZ(50px);
}
.services .card:hover {
  background-color: #f1ec40;
  color: #111;
}
.services .card:hover .content p {
  color: #111;
  font-weight: 600;
}

/*end services*/
/*start project*/
.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 100px;
}
.project a {
  list-style: none;
  color: #111;
  margin-top: 30px;
  margin-right: 5px;
}
.project .workBx {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 5px solid #f1ec40;
}
.project .workBx .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}
.project .workBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project .workBx:hover .imgBx {
  transform: translateY(-100%);
}
.project .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1ec40;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}
.project .workBx:hover .textBx {
  transform: translateY(0);
}
.project .workBx:hover .textBx h3 {
  color: #111;
  font-size: 2em;
  transition: all 0.5s ease-in-out;
}

/*end project*/
/*start contact*/
#contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
}
#contact .container .contact {
  width: 100%;
  margin-bottom: 275px;
}

.row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #f1ec40;
}
.row100 .col .inputBox input,
.row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
  text-transform: none;
}
.row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #f1ec40;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.row100 .col .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.row100 .col .inputBox.textarea textarea {
  resize: none;
  height: 100%;
  /*background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
  text-transform: none;position: absolute;
  width: 100%;*/
}

.row100 .inputBox input:focus + .text,
.row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.row100 .inputBox input:focus ~ .line,
.row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.row100 .inputBox textarea:focus + .text,
.row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.row100 .inputBox textarea:focus ~ .line,
.row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type=submit] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #f1ec40;
  color: #111;
  font-size: 18px;
  border-radius: 2px;
}

/*end contact*/
/*start footer */
#footer {
  width: 100%;
  border-top: 2px solid #f1ec40;
  height: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  width: 75vw;
  height: 100%;
  margin: 0 auto;
}
.footer i {
  color: #f1ec40;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
.footer i:hover {
  opacity: 1;
}
.footer ul {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer ul li {
  list-style: none;
}

/*end footer*/
/**/
@media (max-width: 1300px) {
  .navigation .burger {
    display: block;
    cursor: pointer;
  }
  .navigation .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding: 5rem 0;
  }
  .navigation .nav-links li {
    opacity: 0;
  }
  .navigation .nav-active {
    transform: translateX(0%);
  }
  .hero {
    flex-direction: column;
    justify-content: center;
  }
  .hero .content {
    width: 100%;
    text-align: center;
  }
  .hero .imgBx {
    width: 100%;
  }
  .about {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .about .content {
    margin-bottom: 8rem;
  }
  .about .imgBx {
    width: 100%;
  }
  #services .title {
    margin-bottom: 50px;
  }
  .services {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .services .card {
    margin: 0;
  }
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .hero .content {
    margin-bottom: 50px;
  }
  .hero .content h1 {
    font-size: 2.5em;
  }
  .hero .content h2 {
    font-size: 1.5em;
  }
  .services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-bottom: 40px;
  }
  .project {
    grid-template-columns: repeat(1, 1fr);
  }
  .navigation .nav-links {
    width: 100%;
    position: fixed;
  }
}
/**/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
  transform: translateX(-20px);
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}/*# sourceMappingURL=main.css.map */