@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
$color: #f1ec40;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
}
body {
  background-color: #111;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}
.primaryBtn {
  outline: none;
  border: none;
  padding: 0.3rem 1.3rem;
  font-size: 1.3em;
  font-weight: bold;
  background: $color;
  border: 2px solid $color;
  cursor: pointer;
  transition: letter-spacing 0.3s ease-in-out;
  &:hover {
    background-color: #111;
    color: $color;
    letter-spacing: 1.5px;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: #111;
  }
  &:hover a {
    color: $color;
    text-decoration: underline;
  }
}
#navBar {
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 75vw;
  z-index: 100;
}
.container {
  width: 75vw;
  min-height: 100vh;
  margin: 0 auto;
}
.navigation {
  height: 8vh;
  @include flex(space-between);
  position: relative;
  h2 {
    font-weight: bold;
    font-size: 1.7em;
    color: $color;
  }
  .nav-links {
    @include flex(space-between);
    li {
      margin-left: 2rem;
      list-style: none;
      font-size: 1.2em;
      a {
        text-decoration: none;
        font-weight: 500;
        color: #fff;
        transition: all 0.3s ease;
      }
      &:hover a {
        color: $color;
      }
    }
  }
  .burger {
    display: none;
    div {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }
}
#home {
  overflow: hidden;
  position: relative;
}
.hero {
  position: relative;
  min-height: 100vh;
  @include flex(space-between);

  .imgBx {
    width: 32.5vw;
    img {
      width: 100%;
    }
  }
  .content {
    width: 32.5vw;

    h1 {
      font-size: 3em;
      padding: 0;
      letter-spacing: 1px;
      span {
        color: $color;
      }
    }
    h2 {
      font-size: 2em;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      letter-spacing: 1px;
    }

    .secondaryBtn {
      outline: none;
      border: none;
      padding: 0.3rem 1.3rem;
      font-size: 1.3em;
      font-weight: bold;
      background: #111;
      border: 2px solid $color;
      transition: letter-spacing 0.3s ease-in-out;
      cursor: pointer;
      color: $color;
      &:hover {
        letter-spacing: 1.5px;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        color: $color;
      }
      &:hover a {
        text-decoration: underline;
      }
    }
  }
}
/*start about*/
.title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1rem;
  min-height: 10vh;
  position: relative;
  @include flex(center);
  h1 {
    border-bottom: 5px solid $color;
  }
}

.about {
  min-height: 90vh;
  @include flex(space-between);
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-top: 150px;

  .content {
    .me {
      height: 50%;
      @include flex(center);
      flex-direction: column;
      align-items: flex-start;
      h2 {
        border-bottom: 3px solid $color;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.1em;
        letter-spacing: 1px;
        line-height: 1.7;
        margin-bottom: 1rem;
      }
      button {
        font-size: 1em;
      }
    }
    h2 {
      border-bottom: 3px solid $color;
      margin: 1rem 0;
      display: inline;
    }
  }
  .imgBx {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
/*end about*/
/*start services*/
.services {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  .card {
    margin-top: 50px;
    margin-right: 5px;
    height: 400px;
    @include flex(space-around);
    flex-direction: column;
    background-color: #333;
    padding: 2rem;
    transform-style: preserve-3d;
    transform: perspective(1000px);

    .iconBx {
      width: 50%;
      transform: translateZ(50px);
    }
    .content {
      text-align: center;
      h2 {
        font-size: 1.7em;
        margin-bottom: 1rem;
        transform: translateZ(50px);
      }
      p {
        font-weight: 400;
        color: #ccc;
        transform: translateZ(50px);
      }
    }
    &:hover {
      background-color: $color;
      color: #111;
      .content {
        p {
          color: #111;
          font-weight: 600;
        }
      }
    }
  }
}
/*end services*/
/*start project*/
.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 100px;

  a {
    list-style: none;
    color: #111;
    margin-top: 30px;
    margin-right: 5px;
  }
  .workBx {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 5px solid $color;
    .imgBx {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(0);
      transition: 0.5s ease-in-out;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:hover .imgBx {
      transform: translateY(-100%);
    }
    .textBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(100%);
      transition: 0.5s ease-in-out;
    }
    &:hover .textBx {
      transform: translateY(0);
      h3 {
        color: #111;
        font-size: 2em;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
/*end project*/
/*start contact*/
#contact {
  .container {
    @include flex(space-between);
    flex-direction: column;
    .contact {
      width: 100%;
      margin-bottom: 275px;
    }
  }
}
.row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
    .inputBox {
      position: relative;
      width: 100%;
      height: 40px;
      color: $color;
      input,
      textarea {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        font-size: 18px;
        padding: 0 10px;
        z-index: 1;
        color: #000;
        text-transform: none;
      }
      .text {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 40px;
        font-size: 18px;
        padding: 0 10px;
        display: block;
        transition: 0.5s;
        pointer-events: none;
      }
      .line {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: $color;
        transition: 0.5s;
        border-radius: 2px;
        pointer-events: none;
      }
    }
    .inputBox.textarea {
      position: relative;
      width: 100%;
      height: 100px;
      padding: 10px 0;
      textarea {
        resize: none;

        height: 100%;
        /*background: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        font-size: 18px;
        padding: 0 10px;
        z-index: 1;
        color: #000;
        text-transform: none;position: absolute;
        width: 100%;*/
      }
    }
  }
}
.row100 .inputBox input:focus + .text,
.row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}
.row100 .inputBox input:focus ~ .line,
.row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.row100 .inputBox textarea:focus + .text,
.row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.row100 .inputBox textarea:focus ~ .line,
.row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}
input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: $color;
  color: #111;
  font-size: 18px;
  border-radius: 2px;
}
/*end contact*/
/*start footer */
#footer {
  width: 100%;
  border-top: 2px solid $color;
  height: 50px;
}
.footer {
  @include flex(space-between);
  flex-direction: row;
  width: 75vw;
  height: 100%;
  margin: 0 auto;
  i {
    color: #f1ec40;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  ul {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    li {
      list-style: none;
    }
  }
}
/*end footer*/
/**/

@media (max-width: 1300px) {
  .navigation {
    .burger {
      display: block;
      cursor: pointer;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #111;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      padding: 5rem 0;
      li {
        opacity: 0;
      }
    }
    .nav-active {
      transform: translateX(0%);
    }
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    .content {
      width: 100%;
      text-align: center;
    }
    .imgBx {
      width: 100%;
    }
  }
  .about {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    .content {
      margin-bottom: 8rem;
    }
    .imgBx {
      width: 100%;
    }
  }
  #services {
    .title {
      margin-bottom: 50px;
    }
  }
  .services {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    .card {
      margin: 0;
    }
  }
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .hero {
    .content {
      margin-bottom: 50px;
      h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 1.5em;
      }
    }
  }
  .services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-bottom: 40px;
  }
  .project {
    grid-template-columns: repeat(1, 1fr);
  }
  .navigation {
    .nav-links {
      width: 100%;
      position: fixed;
    }
  }
}
/**/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
  transform: translateX(-20px);
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
